<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/administracao/layout}">
<head>
<title>Adicionar Temporada</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Temporada</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Adicionar</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-8">
									<form role="form" th:action="@{/temporada}"
										th:object="${temporada}" method="POST">
										<div class="alert alert-success" th:text="${mensagem}"
											th:if="${not #strings.isEmpty(mensagem)}"></div>

										<div class="alert alert-danger"
											th:if="${#fields.hasAnyErrors()}">
											<div th:each="detailedError : ${#fields.detailedErrors()}">
												<span th:text="${detailedError.message}"></span>
											</div>
										</div>
										<div class="form-group aw-required"
											th:classappend="${#fields.hasErrors('ano')} ? has-error">
											<div class="form-group">
												<input placeholder="Ano" th:field="*{ano}"
													class="form-control" autofocus="autofocus" />

											</div>
										</div>
										<button type="submit" class="btn btn-default">Submit
											Button</button>
										<button type="reset" class="btn btn-default">Reset
											Button</button>
									</form>
								</div>

							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
	</div>

</body>
</html>