<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/administracao/layout}">
<head>
<title>Editar patrocinador</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Patrocinador</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Editar</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-8">
									<form role="form"
										th:action="${(#mvc.url('APC#update')).build() + '/'} + ${patrocinador.id}"
										th:object="${patrocinador}" method="POST">
										<div class="alert alert-success" th:text="${mensagem}"
											th:if="${not #strings.isEmpty(mensagem)}"></div>

										<div class="alert alert-danger"
											th:if="${#fields.hasAnyErrors()}">
											<div th:each="detailedError : ${#fields.detailedErrors()}">
												<span th:text="${detailedError.message}"></span>
											</div>
										</div>
										<div class="form-group aw-required"
											th:classappend="${#fields.hasErrors('nome')} ? has-error">
											<div class="form-group">
												<input placeholder="NOME" th:field="*{nome}"
													class="form-control" autofocus="autofocus" />

											</div>
										</div>
										<div class="form-group aw-required"
											th:classappend="${#fields.hasErrors('nomeRepresentante')} ? has-error">
											<div class="form-group">
												<input class="form-control" th:field="*{nomeRepresentante}"
													placeholder="NOME REPRESENTANTE">
											</div>
										</div>
										<div class="form-group aw-required"
											th:classappend="${#fields.hasErrors('cpf')} ? has-error">
											<div class="form-group">
												<input class="form-control" th:field="*{cpf}"
													placeholder="CPF">
											</div>
										</div>

										<div class="form-group">
											<input class="form-control" th:field="*{cnpj}"
												placeholder="CNPJ">
										</div>
										<div class="form-group aw-required"
											th:classappend="${#fields.hasErrors('telefoneRepresentante')} ? has-error">
											<div class="form-group">
												<input class="form-control"
													th:field="*{telefoneRepresentante}"
													placeholder="TELEFONE REPRESENTANTE">
											</div>
										</div>

										<button type="submit" class="btn btn-success">Salvar</button>
										<button type="reset" class="btn btn-default">Reset</button>
									</form>
								</div>

							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
	</div>

</body>
</html>